body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.mdl-card {
    width: 100%;
}

.demo-card-wide>.mdl-card__title {
    color: #fff;
    height: 250px;
    background: url('../images/Copertina.png') center / cover;
}

.demo-card-wide>.mdl-card__menu {
    color: #fff;
}

.invite-bot-button {
    color: #ffffff;
}

.title-section-comandi {
    padding: 0 24px;
    font-size: 1em;
    font-weight: 600;
    line-height: 3em;

}

.card-invite-bot-title {
    border-radius: 25px;
    background: rgba(47, 92, 108, 0.9);
    padding: 8px;
    color: #ffffff
}

.main-background {
    background: #84C5FB;
}

.header-invite {
    margin-right: 10px
}

@media (min-width: 992px) {
    .it-header-center-wrapper .it-header-center-content-wrapper .it-brand-wrapper a h2 {
        font-size: 45px;
        font-weight: 700;
    }
}

/* variables */
.transition,
#container a.view-slide {
    transition: all 0.25s ease-in-out;
}

#overlay {
    position: fixed;
    background: rgba(48, 69, 92, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    z-index: 9999;
    display: none;
}

#overlay iframe {
    margin-top: 10%;
}

#container {
    background: rgba(255, 104, 115, 1);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    text-transform: uppercase;
}

#container header {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    color: rgba(254, 255, 250, 1);
    line-height: 1;
    padding: 0.5em 2em;
    border-bottom: 0.5em solid rgba(220, 231, 235, 0.25);
}

#container a.view-slide {
    font-size: 0.9em;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: rgba(34, 190, 198, 1);
    background: rgba(254, 255, 250, 1);
    margin-top: 2em;
    padding: 1.2em;
    border-radius: 0.25em;
}

#container a.view-slide:hover {
    color: rgba(48, 69, 92, 0.5);
    background: rgba(48, 69, 92, 0.15);
}
